apiVersion: v1
kind: Service
metadata:
  name: notes-api
  namespace: ai-platform
  labels:
    app: notes-api
spec:
  selector:
    app: notes-api
  ports:
  - name: http
    port: 80
    targetPort: 8000
